*{
    color:#FFF987;
    font-family: 'Slackey', cursive;
}
body{
    background-color:#8990FF;
    background-image: url("../img/burger.gif");
    background-size:50%;
    background-repeat: no-repeat;
    background-position-x: 60%;
    background-position-y: 10%;
}
li{
    margin:1.15em;
    list-style: none;
}

button{
    background-color:#69B578;
}

h1,h2,ul,.create-form{
    margin-left:2em;
}